/***** BASE STYLES *****/
body {
    color: #2b2b2b;
    font-family: 'Source Sans Pro', sans-serif;
    /*background-color: #ffcccc;*/
    /*background-color: #f9ceb7;*/
    background-color: #cce6ff;
}

/***** GRID *****/
.container {
    width: 1200px;
    margin: 0 auto;
}

.project {
    float: left;
    width: 600px;
}

/***** HEADER *****/
nav {
    float: right; 
    padding: 65px 0px;
}

nav ul {
    padding: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #828282;
    font-size: 18px;
    padding-left: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

/***** SECTION *****/
h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    padding: 60px 0px;
}

p {
    clear: both;
    font-size: 21px;
}

/***** SECTION/PROJECTS *****/
.project img {
    width: 500px;
    height: auto;
    padding: 50px;
}





